
.box 
{
  height: 700px;
  background-color: #242B2E;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 15%;
}

.daylight{
      background-color: #A77B06;
}

.btn{
  background-color:  #0D0D0D;
  color: #ffffff;
  border: 2px solid red;
}